{% extends 'base.html' %}

{% block content %}
     <div class="container"><br><br><br>
       <form method="POST" action="{% url 'home' %}">{% csrf_token %}
          <div class="form-group row-cols-2">
            <input type="title" name="title" class="form-control" placeholder="Title..">
            <small id="passwordHelpInline">Must be 10-100 characters long.</small>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="form-group row-cols-8">
             <textarea type="entry" name="content" class="form-control" rows="7" placeholder="Content.."></textarea>
          </div>
             <button type="submit" class="btn btn-danger btn-md btn-fill">Submit</button>
       </form>
     </div>
{% endblock %}