{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br><br><br>

    <article class="media float-right">
        <div class="media-content">
            <div class="container">
                <button type="button" class="btn btn-success btn-md btn-fill">
                    <a href="{% url 'add' %}" style="color: white;">New
                        Entry
                    </a>
                </button>
            </div>
        </div>
    </article>
    <br><br>

    <hr>
    {% for post in posts %}
    <div class="container">
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <param class="mr-2">
                    {{ post.author }}</param>
                    <small class="text-muted">{{ post.timestamp }}</small>
                    <br>
                    <h2 class="class-title">{{ post.title }}</h2>
                    <p class="article-content">{{ post.content }}</p>
                    <form class="form form-inline" action="update/{{post.id}}/" action="GET">
                        <button type="submit" class="btn btn-primary btn-md btn-fill">Edit</button>
                    </form>
                    <form class="form form-inline" action="delete/{{post.id}}/" action="POST">
                        <button type="submit" class="btn btn-danger btn-md btn-fill">Delete</button>
                    </form>
                    <hr>
                </div>
            </div>
    </div>
    </article>
</div>
{% endfor %}
</div>
{% endblock %}