{% extends 'base.html' %}

{% block content %}
<!--<div class="container">-->
<br><br><br>

<section class="jumbotron text-center bg-light">
    <div class="container"><br><br>
        <h1 style="font-family: Cursive;
                font-size: 50px;" class="jumbotron-heading">Welcome to Expressor.</h1>
        <p class="lead text-muted">
            Free thoughts. Free spirit. Inque.
        </p>
        <p>
            <a href="{% url 'add' %}" class="btn btn-outline-primary btn-md my-2">New Entry</a>
        </p>
    </div>
</section>
<br><br>

<hr>
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <param class="mr-2">
            {{ post.name }}</param>
            <small class="text-muted">{{ post.timestamp }}</small><br>
            <h2 class="class-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
            <a href="{% url 'edit' post.id %}" class="btn btn-outline-primary btn-md">Edit</a>
            <a href="{% url 'delete' post.id %}" class="btn btn-outline-danger btn-md btn-fill">Delete</a>
            <hr>
        </div>
    </div>
</article>
{% endfor %}

<!--</div>-->
{% endblock %}